/* GENERAL */se

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  @include sticky-footer;
  background-color: red($color: #000000);
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}